@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark,
    cupcake,
    retro,
    forest,
    cyberpunk,
    synthwave;
  exclude: rootscrollgutter;
}

@theme {
  --font-display: 'Righteous', sans-serif;
  --background-image-gradient: linear-gradient(
    -50deg,
    hsl(202, 84%, 59%),
    hsl(217, 84%, 59%),
    hsl(252, 79%, 62%),
    hsl(296, 62%, 62%),
    hsl(328, 77%, 68%),
    hsl(347, 77%, 66%),
    hsl(11, 75%, 66%),
    hsl(34, 100%, 71%)
  );
}

@layer base {
  :root {
    --min-game-width: 60ch;
    --max-game-width: 90ch;

    --min-sidebar-width: 15rem;
    --max-sidebar-width: 18rem;

    --game-col: minmax(var(--min-game-width), var(--max-game-width));
    --sidebar-col: minmax(var(--min-sidebar-width), var(--max-sidebar-width));
  }
}
