@import 'tailwindcss';
@plugin 'daisyui'

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@layer base {
  :root {
    --min-game-width: 60ch;
    --max-game-width: 90ch;

    --min-sidebar-width: 15rem;
    --max-sidebar-width: 18rem;

    --game-col: minmax(var(--min-game-width), var(--max-game-width));
    --sidebar-col: minmax(var(--min-sidebar-width), var(--max-sidebar-width));
  }
}
